VITE_AUTH_AUTHORITY=https://localhost:5001
VITE_AUTH_CLIENT_ID=webclient.spa
VITE_AUTH_REDIRECT_URI=http://localhost:5173/auth/callback
VITE_AUTH_SILENT_REDIRECT_URI=http://localhost:5173/auth/silent-callback
VITE_AUTH_POST_LOGOUT_REDIRECT_URI=http://localhost:5173/auth/logout-callback
VITE_AUTH_SCOPE=openid profile email session_context scope1
